h1 {
  color:yellow ;
   font-size: 28px;
}
h2 {
  color:blue ;
   font-size: 26px;
}
h3 {
  color:red ;
   font-size: 24px;
}
h4 {
  color: green ;
   font-size: 22px;
}

h5 {
  color:purple ;
   font-size: 20px;
}
i{
  color: grey;
}
b{
  color: red;
  font-size: 18px;
}
